certifi==2017.11.5
chardet==3.0.4
click==6.7
-e git+git@github.com:willzhang05/faillog.git@63c8e1a4f2c1f184ed6bc000eb89f84bdd37cb61#egg=faillog
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.15
SQLAlchemy-Utils==0.32.21
urllib3==1.22
Werkzeug==0.12.2
