body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: sans-serif;
}
body * {
    font-weight: 200;
}
#map {
    height: 100vh;
}
.leaflet-container {
    background: rgba(0, 0, 0, .8) !important;
}
h1 {
    width: 125px;
    height: 100%;
    margin: 0;
    font-size: 1.5em;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
    display: block;
}
#all-examples-info {
    position: absolute;
    background: white;
    font-size: 16px;
    padding: 20px;
    top: 100px;
    width: 350px;
    line-height: 150%;
    border: 1px solid rgba(0, 0, 0, .2);
}
.leaflet-control {
    top: 48px;
}
nav#menu {
    width: 100vw;
    height: 48px;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
}
nav#menu a {
    text-decoration: none;
    color: #fff;
}
nav#menu button {
    cursor: pointer;
    outline: none;
    width: 75px;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 1.2em;
    background-color: transparent;
}
nav#menu button:hover {
    background-color: rgba(117, 117, 117, 0.6);
