<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1976D2" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link href="/static/icons/favicon.ico" rel="icon" type="image/ico">
    <link href="/static/css/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
	<title>FailLog</title>
</head>
<body>
	<div id="map"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="/static/js/heatmap.min.js"></script>
<script src="/static/js/leaflet-heatmap.js"></script>
<script src="/static/js/map.js"></script>
</html>
